if (hexo-config('categoryBar.enable')) {
    #recent-posts>.category-group {
        display: flex;
        flex-flow: row wrap;
        overflow: auto;
        overflow-x: hidden;
        justify-content: space-around;
        height: 141px;
        border: 10px solid #fff!important;
    }
    [data-theme='dark'] {
        #recent-posts>.category-group {
            border: 10px solid #121212!important;
        }
    }

    #recent-posts>.category-group::-webkit-scrollbar {
        width: 0 !important;
    }

    .category-wrap {
        width: 49%;
        height: 100%;
        border-radius: 4px;
        position: relative;
        box-shadow: none;
        transition: all 0.2s;
    }

    .category-link {
        display: block;
        color: #f7f9fe;
        padding: 10px 0 0 15px;
    }

    .category-link:hover {
        color: #f7f9fe;
    }

    .category-title {
        font-size: 19px;
        font-weight: bold;
    }

    .category-num {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
    }

    @media screen and (max-width: 768px) {
        .category-wrap {
            width: 100%;
            margin-bottom: 10px;
        }

        .category-wrap:not(:nth-of-type(1), :nth-of-type(2)) {
            margin-bottom: 0;
        }
    }
}