if (hexo-config('categoryBar.enable')) {
    #recent-posts>.category-group {
        display: flex;
        flex-flow: row wrap;
        overflow: auto;
        overflow-x: hidden;
        justify-content: space-around;
        height: 141px;
        border: 10px solid #fff!important;
    }

    #recent-posts>.category-group::-webkit-scrollbar {
        width: 0 !important;
    }

    .category-wrap {
        width: 23%;
        height: 120px;
        border-radius: 4px;
        position: relative;
        box-shadow: none;
        transition: all 0.2s;
    }

    .category-wrap:hover {
        box-shadow: inset 0 0 10rem rgb(0 0 0 / 70%);
    }

    .category-link {
        display: block;
        color: #f7f9fe;
        padding: 10px 0 0 15px;
    }

    .category-link:hover {
        color: #f7f9fe;
    }

    .category-title {
        font-size: 19px;
        font-weight: bold;
    }

    .category-num {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
    }

    .category-descr {
        margin-top: 10px;
        font-size: 15px;
        opacity: 0;
        line-height: normal;
        transform: translateX(60px);
        transition: all 0.3s ease-in-out;
    }

    .category-wrap:hover .category-descr {
        transform: translateX(0);
        opacity: 1;
    }
    @media screen and (max-width: 768px) {
        .category-wrap {
            width: 47%;
            margin-bottom: 10px;
        }

        .category-wrap:not(:nth-of-type(1), :nth-of-type(2)) {
            margin-bottom: 0;
        }
    }
}