// if (hexo-config('envelope_comment.enable')) {
//     $hoverHeight = hexo-config('envelope_comment.height') ? convert(hexo-config('envelope_comment.height')) : 920px;

//     @media screen and (max-width: 600px) {
//         #beforeimg, #afterimg {
//             display: none !important;
//         }
//     }

//     @media screen and (min-width: 600px) {
//         #article-container {
//             img {
//                 margin: 0 auto 0rem;
//             }
//         }


//     [data-theme='dark'] {
//         .formmain {
//             background: rgb(50, 50, 50);
//         }

//         .comments {
//             background: rgba(90, 90, 90, 0.8);
//         }
//     }
// }