#footer
  position: relative
  background: $light-blue
  background-attachment: scroll
  background-position: bottom
  background-size: cover


#footer-wrap
  position: relative
  padding: 40px 20px
  text-align: center

  a
    color: var(--light-grey)

    &:hover
      text-decoration: underline

  .footer-separator
    margin: 0 4px

  .icp-icon
    padding: 0 4px
    max-height: 1.4em
    width: auto
    vertical-align: text-bottom
