/* 页脚透明 */
#footer {
  background: transparent !important;
}
/* 导航栏固定高度 */
#page-header {
  height: 60px;
}
/* 边框 */
#recent-posts > .recent-post-item,
#aside-content .card-widget{
  border: 1px solid #e3e8f7;
}
[data-theme="dark"] #recent-posts > .recent-post-item,
[data-theme="dark"] #aside-content .card-widget{
  border: 1px solid #42444a;
}


/* 黑夜背景 */
canvas#universe {
  display: none;
}
[data-theme="dark"] canvas#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* 首页磁贴背景填充 */
.categoryBar-list>li.categoryBar-list-item{
  background-size: cover!important;
}
.categoryBar-list>li.categoryBar-list-item:hover{
  background-size: cover!important;
}