/* 页脚透明 */
#footer {
  background: transparent !important;
}

/* 导航栏固定高度 */
#page-header {
  height: 60px;
}

/* 边框 */
#recent-posts>.recent-post-item,
#aside-content .card-widget {
  border: 1px solid #e3e8f7;
}

[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget {
  border: 1px solid #42444a;
}

/* 黑夜背景 */
canvas#universe {
  display: none;
}

[data-theme="dark"] canvas#universe {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

/* 分类磁贴 */
#recent-posts>.category-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 145px;
  padding: 10px;
}

.category-wrap {
  width: 23%;
  height: 120px;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  transition: all 0.2s;
}

.category-wrap:hover {
  box-shadow: inset 0 0 10rem rgb(0 0 0 / 70%);
}

.category-link {
  display: block;
  color: #f7f9fe;
  padding: 10px 0 0 15px;
}

.category-link:hover {
  color: #f7f9fe;
}

.category-title {
  font-size: 19px;
  font-weight: bold;
}

.category-num {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}

.category-descr {
  margin-top: 10px;
  font-size: 15px;
  opacity: 0;
  line-height: normal;
  transform: translateX(60px);
  transition: all 0.3s ease-in-out;
}

.category-wrap:hover .category-descr {
  transform: translateX(0);
  opacity: 1;
}