#about-page
    .author-box
        .author-avatar
            img.no-lightbox(src='https://img.hitagi.site/avatar-1.png')
        .author-text
            .title Kissshot
            .desrc 不可结缘 徒增伤悲
    .author-content
    //- site.data.creativity