#about-page
    .author-box
        .author-avatar
            img.no-lightbox(src='https://lsky.kissshot.site/img/2025/02/06/67a44befd393a.jpg')
        .author-text
            .title Kissshot
            .desrc 不可结缘 徒增伤悲
    .author-content
    //- site.data.creativity