#page:has(#about-page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}
#about-page {
  background: #f7f9fe;
  padding: 20px 30px;
  border-radius: 20px;
}
#about-page .author-box {
  position: relative;
  display: flex;
}

#about-page .author-box .author-avatar {
  /* margin: auto; */
  border-radius: 50%;
  overflow: hidden;
  width: 130px;
  height: 130px;
}
#about-page .author-box .author-avatar img {
  width: 100%;
  height: 100%;
}
#about-page .author-box .author-text{
  padding: 10px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
#about-page .author-box .author-text .title{
  font-size: 32px;
  font-weight: 600;
}
#about-page .author-box .author-text .desrc{
  font-size: 16px;
}

.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.author-content-item {
  width: 50%;
  border-radius: 24px;
  background: #fff;
  border: 1px solid #e3e8f7;
  box-shadow: 0 8px 16px -4px #2c2d300c;
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.author-content-item .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.author-content-item .card-content .author-content-item-title {
  margin-bottom: 0.5rem;
}

.author-content-item .author-content-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 768px){
  .author-content-item {
    width: 100%;
  }
}